/*
 * Common style sheet for the pop-up dialogs.
 */

/*
 * Common style settings ...
 */
.popupContents .titleLine img {
	float: left;
	margin: 5px;
	width: 20px;
}

.popupContents .titleLine>h3 {
	display: inline-block;
	padding-right: 40px;
}

.popupContents .requiredIndicator {
	width: 14px;
	padding-bottom: 5px;
}

.popupContents div[control=summaryControl] {
	display: inline-block;
	width: 600px;
	margin: 0px 10px 10px 10px;
}

.popupContents div[control=detailsControl], .popupContents div[control=userProvidedControl]
	{
	display: inline-block;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
	max-height: 300px;
	width: 600px;
	overflow: auto;
}

.popupContents .prompt {
	margin: 10px;
}

.popupContents .prompt p {
	margin: 5px;
}

.popupContents .prompt span {
	font-weight: bold;
}

.popupContents .statusLine {
	vertical-align: center;
}

.popupContents .statusLine img {
	width: 20px;
	margin: 10px;
}

.popupContents .status {
	margin-left: 5px;
}

.popupContents .feedback {
	height: 35px;
	vertical-align: center;
}

.popupContents .progress {
	margin: 0px 10px;
}

.popupContents .error {
	width: 630px;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	color: red;
	margin: 0px 10px 0px 45px;
	font-weight: bold;
}

.popupContents .error img {
	width: 25px;
	margin: 0px 10px;
}

.popupContents .buttonRow {
	text-align: center;
	margin-bottom: 10px;
}

.popupContents .log {
	width: 700px;
	height: 500px;
	border: solid black 1px;
	text-align: left !important;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

::-webkit-input-placeholder {
	text-align: center;
}

::-moz-placeholder {
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

/*
 * Styling for specific screens ...
 */
div[ng-controller=detailsDialogController] .log {
	height: 200px;
}

div[ng-controller=msoCommitController] {
	text-align: left;
}