<div class="details-item">
  <input type="checkbox"
         id="{{data?.dataTestId}}"
         [attr.data-tests-id]="data?.dataTestId"
         [checked]="data?.value"
         name="{{data?.controlName}}"
         [formControl]="form?.controls[data?.controlName]"
         data-toggle="toggle">
  <label class="checkbox-label" [ngStyle]="{'float' : data.extraContents && data.extraContents.length > 0 ? 'left' : 'none'}"
         for="{{data?.dataTestId}}">{{data?.displayName}}</label>
  <div *ngFor="let extraContent of data?.extraContents" class="form-conrtols">
    <div [ngSwitch]="extraContent.type">
      <upload-files *ngSwitchCase="'UPLOAD_FILE'" [uploadFilesModel]="extraContent" [form]="form"></upload-files>
    </div>
  </div>
</div>
