<div id="instance-popup" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="onCancelClick()" >&times;</button>
      <span [attr.data-tests-id]="'create-modal-title'" class="modal-title">Set a new {{popupTypeName}}</span>
    </div>
    <div class="modal-body popup-content">

      <div class="header-left">
        <div>MODEL: <span>"{{popupTypeName}}"</span></div>
      </div>

      <div class="header-right">
        {{getModelTypeForPopupTitle()}} Instance Details
      </div>

      <div class="model-information">
        <model-information [modelInformationItems]="modelInformationItems"></model-information>
      </div>

      <div class="instance-form">
        <vnf-instance-details [dynamicInputs]="dynamicInputs"
                              [vnfModel]="model"
                              [modelType]="modelType"
                              [modelName]="modelName"
                              [parentModelName]="parentModelName"
                              [isNewVfModule]="isNewVfModule"
                              [serviceInstance]="vnfInstance"
                              [vnfInstance]="vnfInstance"
                              [serviceUuid]="serviceModelId"
                              [userProvidedNaming]="userProvidedNaming"
                              (onSubmitClick)="onSetClick($event)"
                              (onDataChanged)="updateGeneralErrorSection()"
                              (onServiceInstanceNameChanged)="onServiceInstanceNameChanged($event)"
                              (onVolumeGroupNameChanged)="onVolumeGroupNameChanged($event)"

                              ></vnf-instance-details>
      </div>

    </div>
    <div class="modal-footer row" style="padding: 0">
      <div class="col-md-6">
        <div *ngIf="hasGeneralApiError == true">
          <form-general-error [message]="'Page contains errors. Please see details next to the relevant fields.'"></form-general-error>
        </div>
      </div>
      <div class="col-md-6" style="padding: 15px;padding-right: 35px;">
        <button [attr.data-tests-id]="'cancelButton'"  type="button" class="btn btn-default cancel" (click)="onCancelClick()"><span>Cancel</span></button>
        <input type="submit" value="Set" form="vnfForm" data-tests-id="vnf-form-set"
               class="btn btn-success submit" [disabled]="!vnfInstanceDetails?.vnfForm?.valid || isNotUniqueInstanceName || isNotUniqueVolumeGroupName">
      </div>
    </div>
  </div>
</div>
