@font-face {
	font-family: 'atticons';
	src:url('fonts/atticons.eot');
	src:url('fonts/atticons.eot?#iefix') format('embedded-opentype'),
		url('fonts/atticons.woff') format('woff'),
		url('fonts/atticons.ttf') format('truetype'),
		url('fonts/atticons.svg#atticons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'atticons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wireless-outline:before {
	content: "\e600";
}
.icon-wireless-dashboard:before {
	content: "\e601";
}
.icon-website-hosting-outline:before {
	content: "\e602";
}
.icon-volume-up:before {
	content: "\e603";
}
.icon-volume-mute:before {
	content: "\e604";
}
.icon-volume-down:before {
	content: "\e605";
}
.icon-video:before {
	content: "\e606";
}
.icon-video-tutorials:before {
	content: "\e607";
}
.icon-video-tutorials-outline:before {
	content: "\e608";
}
.icon-video-outline:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e60a";
}
.icon-user-small:before {
	content: "\e60b";
}
.icon-user-outline:before {
	content: "\e60c";
}
.icon-user-large-outline:before {
	content: "\e60d";
}
.icon-upgrades:before {
	content: "\e60e";
}
.icon-upgrades-outline:before {
	content: "\e60f";
}
.icon-unlimited-nights-weekends-outline:before {
	content: "\e610";
}
.icon-unlimited-minutes-outline:before {
	content: "\e611";
}
.icon-unlimited-messaging-outline:before {
	content: "\e612";
}
.icon-unlimited-m2m-outline:before {
	content: "\e613";
}
.icon-unlimited-calling:before {
	content: "\e614";
}
.icon-tv-packages-outline:before {
	content: "\e615";
}
.icon-travel-minutes-outline:before {
	content: "\e616";
}
.icon-trash:before {
	content: "\e617";
}
.icon-tollfree-outline:before {
	content: "\e618";
}
.icon-tiles:before {
	content: "\e619";
}
.icon-tiles-small:before {
	content: "\e61a";
}
.icon-tickets:before {
	content: "\e61b";
}
.icon-tickets-returned:before {
	content: "\e61c";
}
.icon-tickets-referred:before {
	content: "\e61d";
}
.icon-tickets-outline:before {
	content: "\e61e";
}
.icon-tickets-open:before {
	content: "\e61f";
}
.icon-tickets-escalate:before {
	content: "\e620";
}
.icon-tickets-contested:before {
	content: "\e621";
}
.icon-tickets-closed:before {
	content: "\e622";
}
.icon-tickets-cleared:before {
	content: "\e623";
}
.icon-tickets-arquived:before {
	content: "\e624";
}
.icon-tickets-active:before {
	content: "\e625";
}
.icon-technical-specifications:before {
	content: "\e626";
}
.icon-tech-support:before {
	content: "\e627";
}
.icon-tech-support-outline:before {
	content: "\e628";
}
.icon-tablet:before {
	content: "\e629";
}
.icon-tablet-outline:before {
	content: "\e62a";
}
.icon-support:before {
	content: "\e62b";
}
.icon-support-outline:before {
	content: "\e62c";
}
.icon-star:before {
	content: "\e62d";
}
.icon-sort:before {
	content: "\e62e";
}
.icon-social-outline:before {
	content: "\e62f";
}
.icon-smartphone:before {
	content: "\e630";
}
.icon-smartphone-outline:before {
	content: "\e631";
}
.icon-signout-outline:before {
	content: "\e632";
}
.icon-sign-out:before {
	content: "\e633";
}
.icon-shop:before {
	content: "\e634";
}
.icon-shop-outline:before {
	content: "\e635";
}
.icon-shared-outline:before {
	content: "\e636";
}
.icon-shared-minutes-outline:before {
	content: "\e637";
}
.icon-share:before {
	content: "\e638";
}
.icon-settings:before {
	content: "\e639";
}
.icon-send-invoice-outline:before {
	content: "\e63a";
}
.icon-see-more:before {
	content: "\e63b";
}
.icon-see-less:before {
	content: "\e63c";
}
.icon-search:before {
	content: "\e63d";
}
.icon-search-small:before {
	content: "\e63e";
}
.icon-screen-calls-outline:before {
	content: "\e63f";
}
.icon-save-time-outline:before {
	content: "\e640";
}
.icon-saas-enablement-outline:before {
	content: "\e641";
}
.icon-s-beam:before {
	content: "\e642";
}
.icon-s-beam-outline:before {
	content: "\e643";
}
.icon-rollover-outline:before {
	content: "\e644";
}
.icon-rollover-minutes:before {
	content: "\e645";
}
.icon-reviews-outline:before {
	content: "\e646";
}
.icon-reports:before {
	content: "\e647";
}
.icon-reports-outline:before {
	content: "\e648";
}
.icon-recommendation-tool:before {
	content: "\e649";
}
.icon-receivers-outline:before {
	content: "\e64a";
}
.icon-productivity-outline:before {
	content: "\e64b";
}
.icon-print:before {
	content: "\e64c";
}
.icon-plus:before {
	content: "\e64d";
}
.icon-plus-outline:before {
	content: "\e64e";
}
.icon-play:before {
	content: "\e64f";
}
.icon-platform-as-service-outline:before {
	content: "\e650";
}
.icon-plans:before {
	content: "\e651";
}
.icon-plans-outline:before {
	content: "\e652";
}
.icon-pie-chart:before {
	content: "\e653";
}
.icon-photos:before {
	content: "\e654";
}
.icon-photos-outline:before {
	content: "\e655";
}
.icon-phone-data-outline:before {
	content: "\e656";
}
.icon-payments:before {
	content: "\e657";
}
.icon-payments-outline:before {
	content: "\e658";
}
.icon-pause:before {
	content: "\e659";
}
.icon-password:before {
	content: "\e65a";
}
.icon-password-outline:before {
	content: "\e65b";
}
.icon-overview:before {
	content: "\e65c";
}
.icon-overview-small:before {
	content: "\e65d";
}
.icon-overages:before {
	content: "\e65e";
}
.icon-overages-outline:before {
	content: "\e65f";
}
.icon-outage-outline:before {
	content: "\e660";
}
.icon-orders:before {
	content: "\e661";
}
.icon-orders-outline:before {
	content: "\e662";
}
.icon-optional-applications-outline:before {
	content: "\e663";
}
.icon-office-at-hand-outline:before {
	content: "\e664";
}
.icon-offers:before {
	content: "\e665";
}
.icon-offers-outline:before {
	content: "\e666";
}
.icon-notifications:before {
	content: "\e667";
}
.icon-notifications-outline:before {
	content: "\e668";
}
.icon-normal-screen:before {
	content: "\e669";
}
.icon-nights-weekends-outline:before {
	content: "\e66a";
}
.icon-new-requests-outline:before {
	content: "\e66b";
}
.icon-network:before {
	content: "\e66c";
}
.icon-network-dashboard:before {
	content: "\e66d";
}
.icon-netbook:before {
	content: "\e66e";
}
.icon-netbook-outline:before {
	content: "\e66f";
}
.icon-music:before {
	content: "\e670";
}
.icon-music-video:before {
	content: "\e671";
}
.icon-music-video-outline:before {
	content: "\e672";
}
.icon-music-outline:before {
	content: "\e673";
}
.icon-modem:before {
	content: "\e674";
}
.icon-modem-outline:before {
	content: "\e675";
}
.icon-mobile-insurance:before {
	content: "\e676";
}
.icon-mobile-insurance-outline:before {
	content: "\e677";
}
.icon-mobile-2-mobile-outline:before {
	content: "\e678";
}
.icon-missed-calls-outline:before {
	content: "\e679";
}
.icon-minutes:before {
	content: "\e67a";
}
.icon-minutes-outline:before {
	content: "\e67b";
}
.icon-messaging:before {
	content: "\e67c";
}
.icon-messaging-toolkit-outline:before {
	content: "\e67d";
}
.icon-messaging-outline:before {
	content: "\e67e";
}
.icon-messaging-email:before {
	content: "\e67f";
}
.icon-messaging-email-outline:before {
	content: "\e680";
}
.icon-message-small:before {
	content: "\e681";
}
.icon-maintenance:before {
	content: "\e682";
}
.icon-location-pin:before {
	content: "\e683";
}
.icon-location-pin-small:before {
	content: "\e684";
}
.icon-local-search:before {
	content: "\e685";
}
.icon-local-long-distance-outline:before {
	content: "\e686";
}
.icon-list:before {
	content: "\e687";
}
.icon-learn:before {
	content: "\e688";
}
.icon-learn-outline:before {
	content: "\e689";
}
.icon-laptop:before {
	content: "\e68a";
}
.icon-landline:before {
	content: "\e68b";
}
.icon-landline-outline:before {
	content: "\e68c";
}
.icon-invoices:before {
	content: "\e68d";
}
.icon-invoices-outline:before {
	content: "\e68e";
}
.icon-inventory:before {
	content: "\e68f";
}
.icon-intranet-outline:before {
	content: "\e690";
}
.icon-interpreter:before {
	content: "\e691";
}
.icon-interpreter-outline:before {
	content: "\e692";
}
.icon-internet:before {
	content: "\e693";
}
.icon-internet-outline:before {
	content: "\e694";
}
.icon-internet-24-outline:before {
	content: "\e695";
}
.icon-internet-18-outline:before {
	content: "\e696";
}
.icon-international-outline:before {
	content: "\e697";
}
.icon-international-long-distance-outline:before {
	content: "\e698";
}
.icon-international-data-outline:before {
	content: "\e699";
}
.icon-installation-outline:before {
	content: "\e69a";
}
.icon-information:before {
	content: "\e69b";
}
.icon-info-success:before {
	content: "\e69c";
}
.icon-info-alert:before {
	content: "\e69d";
}
.icon-info-alert-outline:before {
	content: "\e69e";
}
.icon-included-checkmark:before {
	content: "\e69f";
}
.icon-included-checkmark-outline:before {
	content: "\e6a0";
}
.icon-hotspot:before {
	content: "\e6a1";
}
.icon-hotspot-outline:before {
	content: "\e6a2";
}
.icon-hotspot-access-outline:before {
	content: "\e6a3";
}
.icon-home:before {
	content: "\e6a4";
}
.icon-help:before {
	content: "\e6a5";
}
.icon-help-outline:before {
	content: "\e6a6";
}
.icon-hd:before {
	content: "\e6a7";
}
.icon-hd-outline:before {
	content: "\e6a8";
}
.icon-hamburger:before {
	content: "\e6a9";
}
.icon-group-outline:before {
	content: "\e6aa";
}
.icon-gps:before {
	content: "\e6ab";
}
.icon-gps-outline:before {
	content: "\e6ac";
}
.icon-go-paperless-email-outline:before {
	content: "\e6ad";
}
.icon-global-messaging-outline:before {
	content: "\e6ae";
}
.icon-gamepad-outline:before {
	content: "\e6af";
}
.icon-game-devices:before {
	content: "\e6b0";
}
.icon-full-screen:before {
	content: "\e6b1";
}
.icon-forward-calls-outline:before {
	content: "\e6b2";
}
.icon-forum:before {
	content: "\e6b3";
}
.icon-forum-outline:before {
	content: "\e6b4";
}
.icon-filter:before {
	content: "\e6b5";
}
.icon-extras:before {
	content: "\e6b6";
}
.icon-extras-outline:before {
	content: "\e6b7";
}
.icon-erase:before {
	content: "\e6b8";
}
.icon-envelope:before {
	content: "\e6b9";
}
.icon-envelope-outline:before {
	content: "\e6ba";
}
.icon-enterprise-messaging-outline:before {
	content: "\e6bb";
}
.icon-edit:before {
	content: "\e6bc";
}
.icon-duplicate:before {
	content: "\e6bd";
}
.icon-dropdown-up:before {
	content: "\e6be";
}
.icon-dropdown-down:before {
	content: "\e6bf";
}
.icon-download:before {
	content: "\e6c0";
}
.icon-download-outline:before {
	content: "\e6c1";
}
.icon-disputes:before {
	content: "\e6c2";
}
.icon-detailed-billing:before {
	content: "\e6c3";
}
.icon-detailed-billing-outline:before {
	content: "\e6c4";
}
.icon-desktop-outline:before {
	content: "\e6c5";
}
.icon-data:before {
	content: "\e6c6";
}
.icon-data-outline:before {
	content: "\e6c7";
}
.icon-data-additional-outline:before {
	content: "\e6c8";
}
.icon-compare:before {
	content: "\e6c9";
}
.icon-cloud-storage-outline:before {
	content: "\e6ca";
}
.icon-cloud-outline:before {
	content: "\e6cb";
}
.icon-cloud-computing-outline:before {
	content: "\e6cc";
}
.icon-cloud-backup:before {
	content: "\e6cd";
}
.icon-cloud-backup-outline:before {
	content: "\e6ce";
}
.icon-circle-information-outline:before {
	content: "\e6cf";
}
.icon-circle-action-remove:before {
	content: "\e6d0";
}
.icon-circle-action-plus-outline:before {
	content: "\e6d1";
}
.icon-circle-action-minus-outline:before {
	content: "\e6d2";
}
.icon-circle-action-empty:before {
	content: "\e6d3";
}
.icon-circle-action-delete-outline:before {
	content: "\e6d4";
}
.icon-circle-action-close:before {
	content: "\e6d5";
}
.icon-circle-action-check-outline:before {
	content: "\e6d6";
}
.icon-circle-action-add:before {
	content: "\e6d7";
}
.icon-chip-outline:before {
	content: "\e6d8";
}
.icon-chevron-up:before {
	content: "\e6d9";
}
.icon-chevron-right:before {
	content: "\e6da";
}
.icon-chevron-left:before {
	content: "\e6db";
}
.icon-chevron-down:before {
	content: "\e6dc";
}
.icon-checkbox-checkmark:before {
	content: "\e6dd";
}
.icon-chat:before {
	content: "\e6de";
}
.icon-chat-small:before {
	content: "\e6df";
}
.icon-case-studies:before {
	content: "\e6e0";
}
.icon-cart:before {
	content: "\e6e1";
}
.icon-cart-small:before {
	content: "\e6e2";
}
.icon-camera:before {
	content: "\e6e3";
}
.icon-camera-outline:before {
	content: "\e6e4";
}
.icon-calendar-outline:before {
	content: "\e6e5";
}
.icon-business:before {
	content: "\e6e6";
}
.icon-business-tv:before {
	content: "\e6e7";
}
.icon-business-tv-outline:before {
	content: "\e6e8";
}
.icon-business-tv-additional-packs-outline:before {
	content: "\e6e9";
}
.icon-business-outline:before {
	content: "\e6ea";
}
.icon-business-center:before {
	content: "\e6eb";
}
.icon-business-center-outline:before {
	content: "\e6ec";
}
.icon-bundles:before {
	content: "\e6ed";
}
.icon-bundles-outline:before {
	content: "\e6ee";
}
.icon-billing:before {
	content: "\e6ef";
}
.icon-billing-history-outline:before {
	content: "\e6f0";
}
.icon-billing-dashboard:before {
	content: "\e6f1";
}
.icon-bd-maps:before {
	content: "\e6f2";
}
.icon-basicphone:before {
	content: "\e6f3";
}
.icon-basicphone-outline:before {
	content: "\e6f4";
}
.icon-barcode-outline:before {
	content: "\e6f5";
}
.icon-bar-chart-vertical:before {
	content: "\e6f6";
}
.icon-bar-chart-horizontal:before {
	content: "\e6f7";
}
.icon-arrow-up:before {
	content: "\e6f8";
}
.icon-arrow-up-right:before {
	content: "\e6f9";
}
.icon-arrow-up-left:before {
	content: "\e6fa";
}
.icon-arrow-up-circle:before {
	content: "\e6fb";
}
.icon-arrow-right:before {
	content: "\e6fc";
}
.icon-arrow-right-circle:before {
	content: "\e6fd";
}
.icon-arrow-left:before {
	content: "\e6fe";
}
.icon-arrow-left-circle:before {
	content: "\e6ff";
}
.icon-arrow-down:before {
	content: "\e700";
}
.icon-arrow-down-right:before {
	content: "\e701";
}
.icon-arrow-down-left:before {
	content: "\e702";
}
.icon-arrow-down-circle:before {
	content: "\e703";
}
.icon-arrow-double-right:before {
	content: "\e704";
}
.icon-arrow-double-left:before {
	content: "\e705";
}
.icon-apps-media:before {
	content: "\e706";
}
.icon-apps-media-outline:before {
	content: "\e707";
}
.icon-apps-marketplace:before {
	content: "\e708";
}
.icon-apps-marketplace-outline:before {
	content: "\e709";
}
.icon-analytics:before {
	content: "\e70a";
}
.icon-alt-media-subscription-outline:before {
	content: "\e70b";
}
.icon-all-locations:before {
	content: "\e70c";
}
.icon-all-devices:before {
	content: "\e70d";
}
.icon-all-devices-outline:before {
	content: "\e70e";
}
.icon-alarms:before {
	content: "\e70f";
}
.icon-alarms-outline:before {
	content: "\e710";
}
.icon-address-ip-outline:before {
	content: "\e711";
}
.icon-addons:before {
	content: "\e712";
}
.icon-addons-outline:before {
	content: "\e713";
}
.icon-additional-services:before {
	content: "\e714";
}
.icon-additional-minutes-outline:before {
	content: "\e715";
}
.icon-add:before {
	content: "\e716";
}
.icon-add-widget:before {
	content: "\e717";
}
.icon-activity-feed:before {
	content: "\e718";
}
.icon-accessories:before {
	content: "\e719";
}
.icon-accessories-outline:before {
	content: "\e71a";
}
.icon-move:before {
	content: "\e71b";
}
.icon-keyboard:before {
	content: "\e71c";
}
.icon-social-business-community:before {
	content: "\e71d";
}
.icon-social-facebook:before {
	content: "\e71e";
}
.icon-social-feed:before {
	content: "\e71f";
}
.icon-social-google-plus:before {
	content: "\e720";
}
.icon-social-linkedin:before {
	content: "\e721";
}
.icon-social-network-exchange:before {
	content: "\e722";
}
.icon-social-twitter-bird:before {
	content: "\e723";
}
.icon-social-twitter:before {
	content: "\e724";
}
.icon-social-youtube:before {
	content: "\e725";
}
