blackDuckHubProjectName.txt
blackDuckHubProjectVersionName.txt
epsdk-app-onap/target/
vid-app-common/target/
vid-parent_bdio.jsonld
deliveries/target/
/vid-app-common/debug-logs/EELF/debug.log
/vid-app-common/logs/EELF/application.log
/vid-app-common/logs/EELF/audit.log
/vid-app-common/logs/EELF/error.log
/vid-app-common/logs/EELF/metrics.log
/vid-app-common/logs/EELF/performance.log
/vid-app-common/logs/EELF/policy.log
/vid-app-common/logs/EELF/security.log
/vid-app-common/logs/EELF/server.log
/epsdk-app-onap/catalina.base_IS_UNDEFINED/logs/ep_sdk_app/application.log
/epsdk-app-onap/catalina.base_IS_UNDEFINED/logs/ep_sdk_app/audit.log
/epsdk-app-onap/catalina.base_IS_UNDEFINED/logs/ep_sdk_app/debug.log
/epsdk-app-onap/catalina.base_IS_UNDEFINED/logs/ep_sdk_app/error.log
/epsdk-app-onap/catalina.base_IS_UNDEFINED/logs/ep_sdk_app/metrics.log
/epsdk-app-onap/debug-logs/EELF/debug.log
/epsdk-app-onap/logs/EELF/application.log
/epsdk-app-onap/logs/EELF/audit.log
/epsdk-app-onap/logs/EELF/error.log
/epsdk-app-onap/logs/EELF/metrics.log
/epsdk-app-onap/logs/EELF/performance.log
/epsdk-app-onap/logs/EELF/policy.log
/epsdk-app-onap/logs/EELF/security.log
/epsdk-app-onap/logs/EELF/server.log
/vid-app-common/.idea/encodings.xml
/vid-app-common/.idea/misc.xml
/vid-app-common/.idea/modules.xml
/vid-app-common/.idea/vid-app-common.iml
/vid-app-common/.idea/workspace.xml
/vid-app-common/.settings/org.eclipse.core.resources.prefs
