blackDuckHubProjectName.txt
blackDuckHubProjectVersionName.txt
epsdk-app-onap/target/
vid-app-common/target/
vid-parent_bdio.jsonld
deliveries/target/
*.log
*/.idea/
*.iml
/vid-app-common/.idea/workspace.xml
/vid-app-common/.settings/org.eclipse.core.resources.prefs
/vid-webpack-master/target/antrun/build-main.xml
/vid-webpack-master/target/maven-archiver/pom.properties
/vid-webpack-master/target/vid-webpack-master.war
/vid-webpack-master/target/vid-webpack-master/app/ui/NO-WEBPACK.txt
/vid-webpack-master/target/vid-webpack-master/WEB-INF/web.xml
/vid-automation/.classpath
/vid-automation/.project
/vid-automation/.settings/org.eclipse.jdt.core.prefs
/vid-automation/.settings/org.eclipse.m2e.core.prefs
/vid-ext-services-simulator/.gitignore
