[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/onap-gerrit-vid-committers
	read = group GitHub Replication
[project]
	description = VID webapp core
[access "refs/heads/test-jjb"]
	push = +force group saml/onap-gerrit-vid-committers
[submit]
	action = rebase if necessary
[plugin "its-jira"]
	enabled = true
