[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-vid-committers
	read = group GitHub Replication
	push = +force group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
	forgeAuthor = group ldap/lf-gerrit-transfer
	forgeCommitter = group ldap/lf-gerrit-transfer
[project]
	description = VID webapp core
