.TESTcpYearNavigation,
.raptorcpMonthNavigation
		{
		background-color:#336699;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.raptorcpDayColumnHeader,
.raptorcpYearNavigation,
.raptorcpMonthNavigation,
.raptorcpCurrentMonthDate,
.raptorcpCurrentMonthDateDisabled,
.raptorcpOtherMonthDate,
.raptorcpOtherMonthDateDisabled,
.raptorcpCurrentDate,
.raptorcpCurrentDateDisabled,
.raptorcpTodayText,
.raptorcpTodayTextDisabled,
.raptorcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.raptorcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #336699;
		border-width:0 0 1 0;
		}
.raptorcpCurrentMonthDate,
.raptorcpOtherMonthDate,
.raptorcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.raptorcpCurrentMonthDateDisabled,
.raptorcpOtherMonthDateDisabled,
.raptorcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.raptorcpCurrentMonthDate
		{
		color:#336699;
		font-weight:bold;
		}
.raptorcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.raptorcpOtherMonthDate
		{
		color:#808080;
		}
TD.raptorcpCurrentDate
		{
		color:#FFFFFF;
		background-color: red;
		border-width:1;
		border:solid thin #000000;
		}
TD.raptorcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin #FFAAAA;
		}
TD.raptorcpTodayText,
TD.raptorcpTodayTextDisabled
		{
		border:solid thin #336699;
		border-width:1 0 0 0;
		}
A.raptorcpTodayText,
SPAN.raptorcpTodayTextDisabled
		{
		height:20px;
		}
A.raptorcpTodayText
		{
		color:#336699;
		font-weight:bold;
		}
SPAN.raptorcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.raptorcpBorder
		{
		border:solid thin #336699;
		}
