#news1{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 4pt;
		margin: 0px;
		background-color:#FFFFDF;
		overflow: auto;
	}	
	
#news2{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 4pt;
		margin: 0px;
		background-color:#E2E2E2;
		overflow: auto;
	}	
#news3{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 4pt;
		margin: 0px;
		background-color:#E2E2E2;
		overflow: auto;
	}	
	
#news4{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 4pt;
		margin: 0px;
		background-color:#FFFFDF;
		overflow: auto;
	}	
	
#superTable {
	width: 100%; 
	height: 100%;
    /*table-layout: fixed;*/ 
}	
