		.rowalt1          {background-color: rgb(255, 255, 255);}
		.rowalt2          {background-color: rgb(255, 255, 204);}
		.rowalt3          {background-color: rgb(255, 0, 0);}
.rbg1             { background-color:#336699; } /* header background (gray) */
		.rbg1d            { background:#747474; } /* tab dark background (gray) */
		.rbg2             { background:#FFFFFF;/*background:#D6DCE4;*/ } /* darker background */
		.rbg3             { background:#FFFFFF;/*background:#EDEDED;*/ } /* light background */
		.rbg4             { background:#88CAFB; } /* second header - dark */
		.rbg6             { background:#ffbbbb; } /* light error background */
		.rbg7             { background:#ff9999; } /* dark error background - header */
		.rcolheader       { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFFFFF;font-weight:700;text-decoration:none }
		.rcolheader:hover { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFFFFF;font-weight:700;text-decoration:underline }
		.rtableheader     { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFFFFF;font-weight:700; }
		.rtabletext       { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000; }
                .rtabletextwhite  { font-family:Arial;font-size:11px;color:#FFFFFF; }
		.rtext            { font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000; }
                .rtext2           { font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#ffffff; }
		.rerrortext       { font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000000; }
		.rerrortextsm     { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000; }
		.rprismsbutton    { margin:3px 3px 3px 0px; padding:1px 5px 1px 5px; font-family: Arial; font-weight: 700; font-size: 11px; color: #ffffff; background-color: #336699 }
		.rsmallbutton     { margin:3px 3px 3px 0px; padding:1px 5px 1px 5px; font-family: Arial; font-weight: 700; font-size: 11px; color: #336699; background-color: #EDEDED }
		.rrequired        { background-image:url(raptor/images/required.gif); background-position:top right; background-repeat:no-repeat;}
		.rtabselected     { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFFFFF;font-weight:700; }
		.rtabtext         { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#CCCCCC;font-weight:700; }
                .buttonLabelField { margin:3px 3px 3px 0px; }

                 /* Added to better customize the UI with FUSION */
		.rbg8             { border: 1px outset #8DA9D1; background: #EDEDED; color: #000000; } /* alternate table row background */
                .tableBorder      { border:1px outset teal }
		.unpaddedButton   { margin:3px 3px 3px 0px; font-family: Arial; font-weight: 700; font-size: 11px; color: #ffffff; background-color: #336699 }
		.normalText       { font-family: Arial; font-size: 11px; color: #000000; }
		.popText          { font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000000;padding:1px;font-weight:700;text-decoration:none; }		
		.hyperref1        { font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-decoration: none}
         A:link {text-decoration: none}
         A:visited {text-decoration: none}
         A:active {text-decoration: none}
         A:hover {text-decoration: none; color: blue;}
         .tdborder        {margin:0;border:0;border-bottom:1px #CCC solid;border-right:1px #CCC solid;padding:4px 6px;vertical-align:middle;}

div.scrollableTable {
	clear: both;
	border: 1px solid #963;	
        height:100%; 
	overflow: auto;
}
div.scrollableTable table {float:left;width:100%}

thead.scrollableTableHeader tr {
	position: relative;
	top: expression(this.offsetParent.scrollTop);
	background:white;
}

thead.scrollableTableHeader tr th {position: relative;background: #336699;}
/*thead.scrollableTableHeader tr td {position: relative;top: expression(this.offsetParent.scrollTop);background: #8a9bb3;}*/
thead.scrollableTableHeader tr td {position: relative;top: expression(this.offsetParent.scrollTop);background: #336699;}
tbody[class].scrollableTableContent {
	display: block;
	overflow: auto;
}
		.trhideunhidecolor {background: #ffffff;}

