@font-face {
    font-family: 'icomoon';
    src:  url('../../../styles/fonts/icomoon.eot?4cilop');
    src:  url('../../../styles/fonts/icomoon.eot?4cilop#iefix') format('embedded-opentype'),
    url('../../../styles/fonts/icomoon.ttf?4cilop') format('truetype'),
    url('../../../styles/fonts/icomoon.woff?4cilop') format('woff'),
    url('../../../styles/fonts/icomoon.svg?4cilop#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.modal-body [class^="icon-"],.modal-body [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-browse:before {
    content: "\e90d";
    color: #5A5A5A;
    font-size: 4px;
    cursor: pointer;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background: #F2F2F2;
    border: 1px solid #D2D2D2;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.icon-browse:hover::before {
    background-color: #E6F6FB;
    color: #009FDB;
}
.icon-browse:active::before {
    background-color: #E6F6FB;
    color: #009FDB;
}

.modal-header {
    border: none!important;
    padding: 10px 20px 0px 20px!important;
    font-family: "OpenSans-Light";
    font-size: 22px;
    color: #000000;
}

.modal-header h3 {
    font-family: "OpenSans-Light";
    color:  #000000;
    color:  #000000;
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 20px;
    border-bottom: 3px solid #009fdb;

}

.control-label {
    font-family: "OpenSans-Light";
    color: #5a5a5a;
    font-size: 13px;
    font-weight: 400;
}

.modal-content {
    width: 468px;
    height: 242px;
    border-radius: 8px;
    background-color:  #ffffff;
}

body .modal-body {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 468px;
    height: 91px;
}

.modal-footer {
    margin-top: 0;
    background-color: #fff;
}


.modal-close {
    margin: -60px 5px 0 0;
    color: #5a5a5a;
    font-size: 20px;
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.manifestName{
    font-family: OpenSans-Semibold;
    font-size: 12px;
    color: #191919;
}

.manifestFileName {
    width: 389px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    display: inline-block;
    line-height: 37px;
    font-weight: normal !important;
    padding-left: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.elipsisImg {
    width: 37px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.labelForImage {
    vertical-align: top;
}

.errorLabel {
    color: red;
}




