#DHTMLgoodies_formTooltipDiv{
	color:#000000;
	font-family:arial;
	font-weight:bold;
	font-size:0.8em;
	line-height:120%;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#000000;
	font-weight:normal;
	font-size:0.7em;
}