#reportContainer {text-align:center;margin-bottom:5px;}

#chartContainer {-webkit-border-radius:5px;margin-bottom:5px;}

#reportTitleContainer {
	background-color: rgb(57,91,162);
	padding:8px 5px 0px 10px;
	font-family:Helvetica;
	color:#fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#reportTitle,#eventTitle{
	font-size:15px;
	font-weight:bold;
	text-align:left;
}

#reportSubTitleContainer{
	font-family:Helvetica;
	font-weight:bold;
	color:rgb(255,255,102);
	padding:2px 10px 3px 10px;
	background-color: rgb(57,91,162);
}

#reportFooter{
	background-color: rgb(57,91,162);
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.reportHeadRow {
	background-color: rgb(57,91,162);
	border-top:1px solid rgb(148,175,222);
	border-bottom:1px solid rgb(148,175,222);
}

.reportHeadCell {
	font-family:Helvetica;
	font-weight:bold;
	font-size:12px;
	height:20px;
}

.rcolheader{
	font-family:Helvetica;
	font-size:13px;
	color:#fff;
}

.reportRow {
	border-top: 1px solid solid rgb(109,132,162);	
	background-color: rgb(112,137,193);
}

.reportAltRow {
	border-top: 1px solid solid rgb(109,132,162);
	background-color: rgb(57,91,162);
}

.reportCell {
	padding-left:3px;
	padding-right:3px;
	padding-top:10px;
	padding-bottom:10px;
	font-family:Helvetica;
	font-size:13px;
	color:#fff;
}

.reportCellLink {font-family:Helvetica;font-size:13px;color:#fff;word-break:break-all}