<link rel="stylesheet" type="text/css" href="app/vid/scripts/modals/new-scheduler/new-scheduler.css" />
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Scheduler Change</h3>
</div>
<form name="newschedulermodalForm" ng-submit="vm.schedule(newschedulermodalForm)">
    <div class="modal-body">
   
	    <div class="form-group" >
            <label><input type="radio" ng-model="vm.checkboxSelection" ng-change="vm.radioSelections()" value="true">Now</label>
            <label><input type="radio"  ng-model="vm.checkboxSelection"  ng-change="vm.radioSelections()" value="false">Range</label>
	     </div>
<!-- 	   <div class="form-group"> -->
<!-- 	      <input type="radio"  ng-model="checkboxSelection" value="false"  ><label>Range</label> -->
<!-- 	     </div> -->
    
    	
        <div class="form-group" >
            <label class="control-label">From Date</label>
            <input ng-disabled="(vm.checkboxSelection=='true')? true:false"  valid-date name="startDate" ng-model="vm.fromDate" id="startDate" datetime-picker ng-required="false"  hour="23" minute='59' class="calender-icon"/>
            
        </div>
        <div class="form-group"  >
            <label class="control-label">To Date</label>
            <input  ng-disabled="(vm.checkboxSelection=='true')? true:false" valid-date name="endDate" ng-model="vm.toDate" id="endDate" datetime-picker ng-required="false"  hour="23" minute='59' class="calender-icon"  />
                 <span ng-show="newschedulermodalForm.startDate.$error.endBeforeStart">To date must be on or after From date.</span> 
			    <span ng-show="newschedulermodalForm.startDate.$error.invalidDate || newschedulermodalForm.endDate.$error.invalidDate">Check dates for validity</span>
			    <span ng-show="newschedulermodalForm.startDate.$error.required || newschedulermodalForm.endDate.$error.required">A required date is missing</span>
             </div>  
             
        <div class="form-group"  >
       <label>Please Select Option For Duration and FallBack</label>
       
          <select class="form-control" name="selecttime" data-tests-id="timeUnitSelect" ng-model="vm.selectedOption" ng-change="vm.updateMinMax()">
            <option value="hours">HOURS</option>
            <option value="minutes">MINUTES</option>
            <option value="seconds">SECONDS</option>
          </select>
        </div>
        <div class="row">
        <div class="form-group col-md-6 col-xs-12">
         <label class="control-label">Duration</label>
          <input  type="number" style="font-size: 1em;" data-tests-id="durationInput" min="1" name="durationinput" ng-model="vm.scheduler.duration" ng-required="true">
        
        </div>
        <div class="form-group col-md-6 col-xs-12"  >
         <label class="control-label">Fallback Duration</label>
          <input  type="number" style="font-size: 1em;" name="fallbackinput" min="1" data-tests-id="fallbackInput" ng-model="vm.scheduler.fallbackDuration"  ng-required="true">
         
         
        </div>
          </div>
         <div class="form-group">
         <label class="control-label">Concurrency Limit</label>
          <input  type="number" style="font-size: 1em;" name="input" data-tests-id="concurrencyLimitInput" ng-model="vm.scheduler.concurrency" min="1" max="30" ng-required="true">
        </div>
          <div class="form-group">
            <label class="control-label">Policy</label>
            <select  class="policy-combo" ng-model="vm.scheduler.policy" id="policy"  ng-options="item.policyName for item in vm.policys">
                <option value="">Select Policy</option>
            </select>
        </div>
		 <div class="form-group">
            <button type="submit" id="find" name="Find" ng-disabled="vm.isClicked" class="btn btn-primary find-block">Find</button>
             <span class="spinner" ng-show="vm.isSpinnerVisible">
				<img src="app/vid/images/spinner.gif">
					</img>
				
			</span>
    
         </div>
         
           <div class="form-group" ng-show="(vm.checkboxSelection=='false')? true:false">
<!--             <label class="control-label">Time Slots</label> -->
<!--             <textarea rows="10" cols="50" class="timeslots-block" ></textarea> -->
            <table class="table table-bordered">
			   <thead class="thead-default">
			      <tr>
			         <th>Start Time</th>
			         <th>End Time</th>
			      </tr>
			   </thead>
			   <tbody>
			   
			      <tr class="table-headline-row" ng-repeat="timeslot in vm.timeSlots">
			         <td>{{timeslot.startTime}}</td>
			         <td>{{timeslot.finishTime}}</td>
			      </tr>
			   </tbody>
         </table>
        </div>

        <div class="form-group" style="display:none;">
            <label class="control-label">callbackData</label>
            <textarea ng-disabled="true" ng-model="vm.callbackData" ng-required="false" type="text" data-tests-id="vidToMsoCallbackData"/>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button type="button" id="btn" name="submit" class="btn btn-primary" ng-disabled="!vm.isScheduleReady" ng-click="vm.submit()">Schedule</button>
            <button type="button" id="btn" name="submit" class="btn btn-primary" ng-click="vm.reject()">Reject</button>
            <button type="button" id="cancel" name="cancel" class="btn btn-white" ng-click="vm.close()">Cancel</button>
        </div>
    </div>
</form>

