.modal-search-member-content {
  position: relative;
  background: white;

  .header {
    height: 60px;
    font-family: OpenSans-Regular;
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    box-shadow: 2px 2px 6px #D2D2D2;
    color: white;
    background: #009fdb;
    z-index: 1;
    position: relative;
    .navigation-arrow-back {
      border-right: 1px solid #1eb9f3;
      width: 60px;
      height: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      font-size: 18px;
      line-height: 60px;
      margin-left: 20px;
    }
    button {
      width: 125px;
      font-family: OpenSans-Regular;
      font-size: 14px;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 12px;
      border: 1px solid white;
      &:disabled {
        opacity: 0.5;
        background: none;
      }
    }
  }

  .content-wrapper {

    .sidebar-left {
      width: 20%;
      border-right: 1px solid #D2D2D2;
      height: calc(100vh - 60px);
      float: left;

      .search-criteria-wrapper{

        .search-criteria-title{
          font-family: OpenSans-SemiBold;
          font-size: 14px;
          color: #191919;
          border-bottom: 1px solid #D2D2D2;
          line-height: 50px;
          padding-left: 30px;
        }
        .search-item{
          color: #191919;
          display: flex;
          flex-direction: column;
          margin: 25px 30px;
          .label-item {
            font-family: OpenSans-SemiBold;
            font-size: 12px;
          }
          .text-item{
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #5a5a5a;
            word-break: break-all;
          }

        }
      }
    }

    .sidebar-right {
      padding: 15px 30px 0px 30px;
      width: 80%;
      float: right;
    }
  }
}

select.select-criteria {
    webkit-appearance: none;
    background: url('../../../../assets/img/chevron.svg') 0 0 no-repeat;
    background-size: 24px;
    background-position-x: right;
    background-position-y: center;
    font-family: OpenSans-Italic;
    font-size: 14px;
    height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.required:after {
  content: " * ";
  color: #cf2a2a;
  margin-left: 3px;
}

.search-button {
  display: flex;
  justify-content: space-around;
}

.modalOutsideIframe {
  width: 70%;
  border: 1px solid gray;
  margin: auto;
  margin-top: 30px;
  outline: none;
}

