<div class="modal-search-member-content">
  <div class="header">
    <vid-svg-icon
      [attr.data-tests-id]="'cancelBtn'"
      (click)="closeDialog()"
      class="navigation-arrow-back"
      [mode]="'primary'"
      [size]="'large'"
      [name]="'navigation-arrow-back'"
      [clickable]="true"
      [fill]="'#FFFFFF'"
      [widthViewBox]="'24'"
      [heightViewBox]="'24'">
    </vid-svg-icon>

    <span class="title">
      {{title}}
    </span>
    <button type="submit" data-tests-id="setMembersBtn" [disabled]="disableSetMembers" (click)="setMembers()" class="sdc-button sdc-button__primary">SET MEMBERS</button>
  </div>
  <div class="content-wrapper">
    <div class="sidebar-left">
      <div class="search-criteria-wrapper">
        <div class="search-criteria-title">SEARCH CRITERIA</div>
         <div class="search-item" *ngFor="let searchFieldItem of searchFields">
           <span class="label-item">{{searchFieldItem.title}}</span>
           <span attr.data-tests-id="{{searchFieldItem.dataTestId}}" class="text-item">{{searchFieldItem.value}}</span>
         </div>
      </div>
    </div>
    <div class="sidebar-right">
      <app-members-table [data]="membersData" [description]="description" (selectedMembersAmountChange)="selectedMembersAmountChange($event)"></app-members-table>
    </div>
  </div>
</div>
