div[ng-controller=testViewEditController] button {
	width: 120px;
}

div[ng-controller=testViewEditController]>table {
	border: solid black 1px;
	width: auto;
}

div[ng-controller=testViewEditController]>table td {
	border: solid black 1px;
}

h3 {
	margin-bottom: 5px;
}

ol, li {
	list-style-type: decimal !important;
}

div[ng-controller=testViewEditController]>div>span {
	font-size: 20px;
	margin-left: 10px;
}

div[ng-controller=testViewEditController] input[type=checkbox] {
	height: 20px;
	width: 20px;
}