.btn-white {
    font-family: "Open Sans";
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    background-color:  #ffffff;
    width: 94px;
    height: 30px;
    color: #5a5a5a;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 4px 12px !important;
}

.btn-primary {
    font-family: "Open Sans";
    border-radius: 2px;
    border: 1px solid #0091c8;
    background-color:  #009fdb;
    width: 94px;
    height: 30px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 4px 12px !important;
}

.modal-header {
    border: none!important;
    padding: 15px 15px 0px 15px!important;
}

.modal-header h3 {
    font-family: "Open Sans";
    color:  #191919;
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 20px;
    border-bottom: 3px solid #009fdb;

}

.control-label {
    font-family: "Open Sans";
    color: #5a5a5a;
    font-size: 13px;
    font-weight: 400;
}

.modal-footer {
    background-color: #eaeaea;
}

.modal-dialog {
    width: 587px;
    border-radius: 8px;
}

.modal-content {
    width: 587px;
    border-radius: 8px;
    background-color:  #ffffff;
}

button.dropdown-toggle {
    text-align: left;
}

button[disabled].dropdown-toggle {
    opacity: 1;
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #aaa;
    color: #a0a0a0;
}

multiselect[disabled] {
    cursor: not-allowed;
}

a.item-unselected:before {
    font-family: "icomoon"!important;
    content: "\e90c";
    color: #4ca90c;
}

.modal-close {
    margin: -40px 5px 0 0;
    color: #5a5a5a;
    font-size: 20px;
    cursor: pointer;
}

.vnf-versions-container .table {
    position: relative;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
}

.vnf-versions-name {
    padding-top: 6px;
    font-family: "Open Sans";
    position: absolute;
}

.vnf-versions-select-as-text {
    font-family: "Open Sans";
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    overflow:hidden;
    background-color: #f8f8f8;
    height: 31px;
}

.vnf-files-select {
    z-index: 999;
    opacity: 0.0;
    position: absolute;
    width: 23%;
    cursor: pointer;
    height:100%;
}
