.modal-dialog {
    width: 587px;
    border-radius: 8px;
}

.modal-content {
    width: 587px;
    border-radius: 8px;
    background-color:  #ffffff;
}

.modal-content .modal-body {
    padding: 15px 35px;
}

.modal-header {
    border: none!important;
    padding: 15px 35px 0px 35px!important;
}

.modal-header h3 {
    font-family: "OpenSans-Regular";
    color:  #191919;
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 20px;
    border-bottom: 3px solid #009fdb;

}

.modal-close {
    margin: -40px 5px 0 0;
    color: #5a5a5a;
    font-size: 20px;
    cursor: pointer;
}

.form-group .control-label {
    font-family: OpenSans-Semibold;
    font-size: 12px;
    color: #191919;
}

input::placeholder {
    text-align: left;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #a9a9a9;
}

.form-group .grayedOut {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #a9a9a9;
    opacity: 0.54;
}

.form-group .grayedOut option {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #555;
    opacity: 1;
}

button.dropdown-toggle {
    text-align: left;
}

button[disabled].dropdown-toggle {
    opacity: 1;
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #aaa;
    color: #a0a0a0;
}

multiselect[disabled] {
    cursor: not-allowed;
}

a.item-unselected:before {
    font-family: "icomoon"!important;
    content: "\e90c";
    color: #4ca90c;
}

.vnf-versions-container .table {
    position: relative;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
}

.vnf-versions-name {
    padding-top: 6px;
    font-family: "OpenSans-Regular";
    position: absolute;
}

.vnf-versions-select-as-text {
    font-family: "OpenSans-Regular";
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    overflow:hidden;
    background-color: #f8f8f8;
    height: 31px;
}

.vnf-files-select {
    z-index: 999;
    opacity: 0.0;
    position: absolute;
    width: 23%;
    cursor: pointer;
    height:100%;
}
.modal-footer .btn-white,
.modal-footer .btn-white:hover {
    font-family: "OpenSans-Semibold";
    border-radius: 5px;
    border: 1px solid #009FDB;
    background-color:  #FFFFFF;
    width: 120px;
    height: 36px;
    color:  #009FDB;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    padding: 4px 12px !important;
}

.modal-footer .btn-primary,
.modal-footer .btn-primary:hover{
    font-family: "OpenSans-Semibold";
    border-radius: 5px;
    border: 1px solid #009FDB;
    background-color:  #009FDB;
    width: 120px;
    height: 36px;
    color:  #FFFFFF;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    padding: 4px 12px !important;
}