@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4cilop');
    src:  url('fonts/icomoon.eot?4cilop#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4cilop') format('truetype'),
    url('fonts/icomoon.woff?4cilop') format('woff'),
    url('fonts/icomoon.svg?4cilop#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.changes-management [class^="icon-"],.changes-management [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-finished_d:before {
    content: "\e90c";
    color: #4ca90c;
}
.icon-noun_573805_cc-03:before {
    content: "\e90a";
}
.icon-scedular:before {
    content: "\e90b";
}
.icon-alert:before {
    content: "\e901";
    color: #ffb81c;
    cursor: pointer;
}
.icon-close_hover:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
    color: #5a5a5a;
}
.icon-dearch_hover:before {
    content: "\e904";
    color: #5a5a5a;
}
.icon-pending:before {
     content: "\e905";
     color: #00aeef;
     cursor: pointer;
 }
.icon-deleted:before {
    content: "\e905";
    color: #cf2a2a;
    cursor: pointer;
}
.icon-plus:before {
    content: "\e906";
}
.icon-process:before {
    content: "\e900";
    color: #4ca90c;
    font-size: 17px;
    cursor: pointer;
}
.icon-search:before {
    content: "\e907";
    color: #5a5a5a;
}
.icon-view:before {
    content: "\e908";
    color: #959595;
    font-size: 16px;
    cursor: pointer;
}
.icon-x:before {
    content: "\e909";
    color: #cf2a2a;
    font-size: 12px;
    cursor: pointer;
}
.icon-search-in:before {
    content: "\e90d";
    color: #009FDB;
    font-size: 17px;
    cursor: pointer;
}
.expand-icon{
    margin-right: 10px;
    position: relative;
    width: 11px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
}

/* Vertical line */
.expand-icon:before{
    content: "";
    position: absolute;
    background-color: #5a5a5a;
    transition: transform 0.25s ease-out;
    right: 40%;
    width: 2px;
    height: 100%;
    margin-left: 5px;
}

/* horizontal line */
.expand-icon:after{
    content: "";
    position: absolute;
    background-color: #5a5a5a;
    transition: transform 0.25s ease-out;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
}
.collapse-icon{
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    width: 10px;
    border-top: 1.6px solid #5a5a5a;
    padding: 2.6px;
}
.icon-search2:before {
    content: "\e90d";
    color: #009FDB;
    font-size: 40px;
    cursor: pointer;
}
