.search-container {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    width: 500px;
}
.search-container .search-input,
.search-container .search-input:focus,
.search-container .search-input:hover{
    border: none;
    padding: 10px;
    display: inline-block;
    width: 458px;
    font-style: italic;
}

.search-container .search-input::placeholder {
    text-align: left;
}

.search-container .search-icon {
    display: inline-block;
    margin: auto;
    width: 16px;
    height: 16px;
}

.search-container .search-icon svg path {
    fill: #5A5A5A;
}

.search-container .search-icon:hover path {
    fill: #009FDB;
}


