div[ng-controller=ServiceModelController] .popupContents {
	text-align: left;
}

div[ng-controller=ServiceModelController] .statusLine {
	vertical-align: center;
}

div[ng-controller=ServiceModelController] .statusLine img {
	width: 20px;
	margin: 10px;
}

div[ng-controller=ServiceModelController] .status {
	margin-left: 5px;
}

div[ng-controller=ServiceModelController] .feedback {
	height: 35px;
	vertical-align: center;
}

div[ng-controller=ServiceModelController] .progress {
	margin: 0px 10px;
	font-weight: bold;
}

div[ng-controller=ServiceModelController] .error {
	width: 630px;
	font-weight: bold;
	font-size: 16px;
	color: red;
	margin: 0px 10px 0px 45px;
}

div[ng-controller=ServiceModelController] .error img {
	width: 25px;
	margin: 0px 10px;
}

div[ng-controller=ServiceModelController] .buttonRow {
	text-align: center;
	margin-bottom: 10px;
}

div[ng-controller=ServiceModelController] .log {
	width: 700px;
	height: 500px;
	border: solid black 1px;
	text-align: left !important;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

div[ng-controller=ServiceModelController] .smcHidden {
	visibility: hidden;
}

div[ng-controller=ServiceModelController] .smcVisible {
	visibility: visible;
}

div[ng-controller=ServiceModelController] .progHidden {
	visibility: hidden;
}

div[ng-controller=ServiceModelController] .progVisible {
	visibility: visible;
}