<div class="details-item" *ngIf="data != null && form != null">
  <label [ngClass]="{'required': data.isRequired()}"
         for="{{data?.dataTestId}}-select">{{data?.displayName}}:</label>

  <angular2-multiselect
    [attr.data-tests-id]="data?.dataTestId"
    [data]="options"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">>
    <c-item>
      <ng-template let-item="item">
        <label
          [attr.data-tests-id]="data.dataTestId + '-' + item?.itemName"
          style="color: #333;min-width: 150px;">{{item?.itemName}}</label>
      </ng-template>
    </c-item>
  </angular2-multiselect>


  <form-control-error *ngIf="data?.hasEmptyOptions && data?.isRequired()"
                      [message]="'No results for this request. Please change criteria.'"></form-control-error>
</div>
