<div class="modal fade" bsModal #auditInfoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div id="audit-info-modal" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onCancelClick()">&times;</button>
        <span [attr.data-tests-id]="'audit-info-title'" class="modal-title">{{title}}</span>
      </div>
      <div [ngClass]="{'modal-body':true, 'popup-content': !hiddenSidebar, 'popup-content-hide': hiddenSidebar}">
        <div class="header-left">
          <div id="service-model-name">{{type | uppercase}} MODEL: <span>{{serviceModelName}}</span></div>
          <button [attr.data-tests-id]="'hide-model-info'" class="hide-button" type="button" (click)="hideSidebar()">
            <img *ngIf="hiddenSidebar" src="assets/img/arrow_right.svg" alt="" width="32" height="32">
            <img *ngIf="!hiddenSidebar" src="assets/img/arrow_left.svg" alt="" width="32" height="32">
          </button>
        </div>
        <div class="header-right">
          <p></p>
        </div>
        <div id="model-info" class="model-information" *ngIf="!hiddenSidebar">
          <model-information [modelInformationItems]="modelInfoItems"></model-information>
        </div>
        <div class="instance-form">
          <div style="position: relative;height: 100%;overflow: auto;">
            <audit-info-modal-table [auditInfoItems]="auditInfoItems"></audit-info-modal-table>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding: 0">
        <div class="col-md-5">
        </div>
        <div class="col-md-7" style="padding: 15px;padding-right: 35px;">
          <button
            id="cancelButton"
            [attr.data-tests-id]="'close-button'"
            type="button" class="btn btn-default cancel"
            (click)="onCancelClick()"
          ><span>Close</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
