
.service-planning-content {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 0;
}

.span-over {
  display: flex;
  flex: 1;
}

//css for the icon. :host ::ng-deep are needed for applying css to child component
:host ::ng-deep .upload-icon-service-planing {
  height: 117px;
  margin-top: 32px;
}

component-info {
  border-left: 1px solid #D2D2D2;
  height: calc(100vh - 60px);
  overflow: auto;

  &.col-md-2{
    padding: 0;
  }
}
