<div style="color:#2ca02c" ng-show="successSubmit">Your configurations have been successfully submitted</div>

<div  style="min-height:500px" data-ng-init="init()">
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Chart Type</label><BR>
		<div class="form-field" att-select="chartTypes" ng-model="reportRunJson.chartTypeJSON" placeholder="Select an Option" show-input-filter="true" ng-change="actionClicked()"></div>
	</div>
	
	
	<div class="fn-ebz-container" style="position:relative; top: -8px;">
		<label class="fn-ebz-text-label">Animate</label><BR>
			<div><input type="checkbox" ng-model="reportRunJson.animation" att-checkbox data-ng-value="true"></div>
	</div>
	<BR>
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Width (Px)</label><BR>
		<input type="text"  name="chartWidth"  maxlength=4  only-digits ng-model="reportRunJson.width" style="width:80px"/>
	</div> 
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Height (Px)</label><BR>
		<input type="text" name="chartHeight" maxlength=4  only-digits ng-model="reportRunJson.height" style="width:80px"/>
	</div>
	<BR>
	
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Title</label><BR>
		<span><input  name="tle" type="radio" ng-model="reportRunJson.showTitle"  data-ng-value="true"/>Show</span>
		<span><input name="tle" type="radio" ng-model="reportRunJson.showTitle" data-ng-value="false"/>Hide</span>
	</div>
	<BR>
	

	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Domain Axis</label><BR>
		<div class="form-field" att-select="reportRunJson.chartColumnJSONList" ng-model="reportRunJson.domainAxisJSON" placeholder="Select an Option" show-input-filter="true"></div>
	</div>  
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Category</label><BR>
		<div class="form-field" att-select="reportRunJson.chartColumnJSONList" ng-model="reportRunJson.categoryAxisJSON" placeholder="Select an Option" show-input-filter="true"></div>
	</div>
	<BR>

<div style="border:2px;border-style:solid;border-color:#808080;margin-bottom:9px">	
<div ng-repeat="rangeReport in reportRunJson.rangeAxisList">	
	<div style="margin-left:5px">
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Range Axis</label><BR>
		<div class="form-field" att-select="reportRunJson.chartColumnJSONList" 
			ng-model="rangeReport.rangeAxisLabelJSON" placeholder="Select an Option" show-input-filter="true"></div>
	</div>
	
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Y Axis</label><BR>
		<input id="yaxs" type="text" name="yAxis" maxlength=50 ng-model=rangeReport.rangeYAxis style="width:100px"/>
	</div>
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Chart Title</label><BR>
		<input type="text" name="chartTitle"  maxlength=50 ng-model="rangeReport.rangeChartGroup" style="width:200px"/>
	</div>
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Color</label><BR>
		<div class="form-field" att-select="rangeColors" ng-model="rangeReport.rangeColorJSON" placeholder="Select an Option" show-input-filter="true"></div>
	</div>
	
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Line Type</label><BR>
		<div class="form-field" att-select="lineTypes" ng-model="rangeReport.rangeLineTypeJSON" placeholder="Select an Option" show-input-filter="true"></div>
	</div>
	
	<div class="fn-ebz-container" ng-show="reportRunJson.chartTypeJSON.value=='FlexTimeChart' || 
			reportRunJson.chartTypeJSON.value=='AnnotationChart'" style="position:relative; top: -8px;">
		<label class="fn-ebz-text-label">Area</label><BR>
		<input type="checkbox" ng-model="rangeReport.showAsArea" att-checkbox data-ng-value="true">
	</div>
	
	<div class="fn-ebz-container" style="position:relative; top: 25px;">
	<a href="javascript:void(0)" ng-show="{{$index==0}}" style="float: right;" att-button btn-type="secondary" size="small" att-accessibility-click="13,32" 
			ng-click="addRangeAxisRow(rangeReport);" >Add</a>
	<a href="javascript:void(0)" ng-show="{{$index>0}}" style="float: right;" att-button btn-type="secondary" size="small" att-accessibility-click="13,32" ng-click="removeRangeAxisRow($index);" >
			Remove</a>
	  </div>
	  </div>
	 </div>
	</div>
	<BR>
	
<accordion close-others="true" css="att-accordion--no-box">
	<accordion-group id="additionalOptions" heading="Additional Options"  child-length="10">
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Primary Axis Label</label><BR>
		<input type="text" name="prAxis" maxlength=50 ng-model="reportRunJson.primaryAxisLabel" style="width:210px"/>
	</div>
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Secondary Axis Label</label><BR>
		<input type="text" name="secAxis" maxlength=75 ng-model="reportRunJson.secondaryAxisLabel"  style="width:210px"/>
	</div>
	<BR>
	<div class="fn-ebz-container" >
		<label class="fn-ebz-text-label">Range Axis Minimum Range</label><BR>
		<input type="text" name="rAxisMinRange" only-digits ng-model="reportRunJson.minRange" style="width:210px"/>
	</div>
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Maximum Range</label><BR>
		<input type="text" name="rAxisMaxRange" only-digits ng-model="reportRunJson.maxRange"  ng-maxLength="35" style="width:210px"/>
	</div><BR>
	</accordion-group>
</accordion>
	
	
	

<div ng-show="reportRunJson.chartTypeJSON.value=='BarChart3D'">
  
  	<accordion close-others="true" css="att-accordion--no-box">
	<accordion-group id="accBar" heading="Bar Chart Options"  child-length="10">
  				
	
	<div style="border:2px;border-style:solid;border-color:#808080;margin-bottom:9px">
		<div class="fn-ebz-container" style="position:relative;margin:10px;" >
			<label class="fn-ebz-text-label">Orientation</label><BR>
			<span><input  name="orient" type="radio" ng-model="reportRunJson.barChartOptions.verticalOrientation"  data-ng-value="true"/>Vertical</span>
			<span><input name="orient" type="radio" ng-model="reportRunJson.barChartOptions.verticalOrientation" data-ng-value="false"/>Horizontal</span>
		</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Stacked</label><BR>
		<span><input  name="stack" type="radio" ng-model="reportRunJson.barChartOptions.stackedChart"  data-ng-value="true"/>Yes</span>
		<span><input name="stack" type="radio" ng-model="reportRunJson.barChartOptions.stackedChart" data-ng-value="false"/>No</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Show Controls</label><BR>
		<span><input  name="shwcontrol" type="radio" ng-model="reportRunJson.barChartOptions.displayBarControls"  data-ng-value="true"/>Yes</span>
		<span><input name="shwcontrol" type="radio" ng-model="reportRunJson.barChartOptions.displayBarControls" data-ng-value="false"/>No</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">XAxis Date Type</label><BR>
		<span><input  name="xAxisDtype" type="radio" ng-model="reportRunJson.barChartOptions.xAxisDateType"  data-ng-value="true"/>Yes</span>
		<span><input name="xAxisDtype" type="radio" ng-model="reportRunJson.barChartOptions.xAxisDateType" data-ng-value="false"/>No</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Display less XAxis tickers</label><BR>
		<span><input  name="xTicker" type="radio" ng-model="reportRunJson.barChartOptions.minimizeXAxisTickers"  data-ng-value="true"/>Yes</span>
		<span><input name="xTicker" type="radio" ng-model="reportRunJson.barChartOptions.minimizeXAxisTickers" data-ng-value="false"/>No</span>
	</div><BR>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Is Time Axis?</label><BR>
		<span><input  name="timeAxis" type="radio" ng-model="reportRunJson.barChartOptions.timeAxis"  data-ng-value="true"/>Yes</span>
		<span><input name="timeAxis" type="radio" ng-model="reportRunJson.barChartOptions.timeAxis" data-ng-value="false"/>No</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Log Scale (Y Axis)</label><BR>
		<span><input type="checkbox" ng-model="reportRunJson.barChartOptions.yAxisLogScale" att-checkbox data-ng-value="true"></span>
		
	</div>
 </div>

  </accordion-group>
</accordion>
</div>
	
	<div ng-show="reportRunJson.chartTypeJSON.value=='TimeSeriesChart'">
	<!-- <div class="fn-ebz-text-label"><b>Time Series Chart Options</b></div><BR> -->
	 <accordion close-others="true" css="att-accordion--no-box">
		<accordion-group id="accTimeChart"  heading="Time Series Chart Options"  child-length="10">
		
		<div style="border:2px;border-style:solid;border-color:#808080;margin-bottom:9px">
			<div style="margin-left:5px">
			<div class="fn-ebz-container">
				<label class="fn-ebz-text-label">Render as</label><BR>
				<span><input  name="renderAs" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.lineChartRenderer"  value="line"/>Line</span>
				<span><input name="orient" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.lineChartRenderer" value="area"/>Area</span>
			</div>
	
		<div class="fn-ebz-container" style="position:relative;margin:10px;">
			<label class="fn-ebz-text-label">X Axis Label</label><BR>
			<span><input type="checkbox" ng-model="reportRunJson.timeSeriesChartOptions.showXAxisLabel" att-checkbox data-ng-value="true"></span>
		</div><BR>
		
		<div class="fn-ebz-container" style="position:relative;bottom:10px;">
			<label class="fn-ebz-text-label">X Axis <br>Tickers</label><BR>
			<span style="position:relative;top:10px;"><input type="checkbox" ng-model="reportRunJson.timeSeriesChartOptions.addXAxisTicker" att-checkbox data-ng-value="true"></span>
		</div>
		
		<div class="fn-ebz-container" style="position:relative;margin:20px;">
			<label class="fn-ebz-text-label">Is Time Axis?</label><BR>
			<span><input  name="timeAxisChart" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.nonTimeAxis"  data-ng-value="true"/>Yes</span>
			<span><input name="timeAxisChart" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.nonTimeAxis" data-ng-value="false"/>No</span>
		</div>
		
		<div class="fn-ebz-container" style="position:relative;margin:10px;">
			<label class="fn-ebz-text-label">Multi Series?</label><BR>
			<span><input  name="mSeries" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.multiSeries"  data-ng-value="true"/>Yes</span>
			<span><input name="mSeries" type="radio" ng-model="reportRunJson.timeSeriesChartOptions.multiSeries" data-ng-value="false"/>No</span>
		</div>
		 </div>
		</div>
	
	 </accordion-group>
	</accordion>
	
	</div>
	
	<div ng-show="reportRunJson.chartTypeJSON.value=='FlexTimeChart'">
		
		
		<accordion close-others="true" css="att-accordion--no-box">
		<accordion-group id="accFlexTimeChart"  heading="Flex Time Series Chart Options"  child-length="10">
		
		<!-- <div class="fn-ebz-text-label"><b>Flex Time Series Chart Options</b></div><BR>  -->
		<div style="border:2px;border-style:solid;border-color:#808080;margin-bottom:9px">
			<div style="margin-left:5px">
		<div class="fn-ebz-container">
			<label class="fn-ebz-text-label">Zoom-In Window</label><BR>
			<span><input type="text" name="zWindow" only-digits maxlength=3 ng-model="reportRunJson.flexTimeSeriesChartOptions.zoomIn"></span>
		</div>
		
		<div class="fn-ebz-container" style="position:relative;margin:10px;">
			<label class="fn-ebz-text-label">Time Axis Type</label><BR>
			<span><input  name="timeAxisType" type="radio" ng-model="reportRunJson.flexTimeSeriesChartOptions.timeAxisType"  value="weekly"/>Weekly</span>
			<span><input name="timeAxisType" type="radio" ng-model="reportRunJson.flexTimeSeriesChartOptions.timeAxisType" value="daily"/>Daily</span>
			<span><input name="timeAxisType" type="radio" ng-model="reportRunJson.flexTimeSeriesChartOptions.timeAxisType" value="hourly"/>Hourly</span>
			<span><input name="timeAxisType" type="radio" ng-model="reportRunJson.flexTimeSeriesChartOptions.timeAxisType" value="30min"/>30 Min</span>
		</div>
	  </div>
	 </div>
		</accordion-group>
	</accordion>
	
	</div>	
	
	
	
	
	
	
	 
	<!-- <div class="fn-ebz-text-label"><b>Common Options</b></div><BR>  -->
	
	<accordion close-others="true" css="att-accordion--no-box">
	<accordion-group id="accCommonOptions"  heading="Common Options"  child-length="10">
	
	<div style="border:2px;border-style:solid;border-color:#808080;margin-bottom:9px">
	<div style="margin-left:5px">
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Legend Angle</label><BR>
		<span><input name="langle" type="radio" ng-model="reportRunJson.commonChartOptions.legendLabelAngle" value="up45"/>up 45&deg;</span>
		<span><input name="langle" type="radio" ng-model="reportRunJson.commonChartOptions.legendLabelAngle" value="up90"/>up 90&deg;</span>
 	    <span><input name="langle" type="radio" ng-model="reportRunJson.commonChartOptions.legendLabelAngle" value="down45"/>down 45&deg;</span>
 	    <span><input name="langle" type="radio" ng-model="reportRunJson.commonChartOptions.legendLabelAngle" value="down90"/>down 90&deg;</span>
 	    <span><input name="langle" type="radio" ng-model="reportRunJson.commonChartOptions.legendLabelAngle" value="standard"/>Standard</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:15px;">
		<label class="fn-ebz-text-label">Legend Position</label><BR>
		<span><input  name="lgPosition" type="radio" ng-model="reportRunJson.commonChartOptions.legendPosition"  value="top"/>Top</span>
		<span><input name="lgPosition" type="radio" ng-model="reportRunJson.commonChartOptions.legendPosition" value="bottom"/>Bottom</span>
	</div><BR>
	
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Legend</label><BR>
		<span><input name="lgd" type="radio" ng-model="reportRunJson.commonChartOptions.hideLegend" data-ng-value="false"/>Yes</span>
		<span><input name="lgd" type="radio" ng-model="reportRunJson.commonChartOptions.hideLegend" data-ng-value="true"/>No</span>
	</div>
	
	<div class="fn-ebz-container" style="position:relative;margin:10px;">
		<label class="fn-ebz-text-label">Animation</label><BR>
		<span><input name="anmtate"  type="radio" ng-model="reportRunJson.commonChartOptions.animateAnimatedChart" data-ng-value="true" />Yes</span>
		<span><input name="anmtate"  type="radio" ng-model="reportRunJson.commonChartOptions.animateAnimatedChart" data-ng-value="false"/>No</span>
	</div><BR>
	
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Top Margin</label><BR>
		<input type="text" name="reportRunJson.commonChartOptions.topMargin" only-digits maxlength=3 ng-model="reportRunJson.commonChartOptions.topMargin" style="width:210px"/>
	</div>
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Bottom Margin</label><BR>
		<input type="text" name="reportRunJson.commonChartOptions.bottomMargin" only-digits maxlength=3 ng-model="reportRunJson.commonChartOptions.bottomMargin"  style="width:210px"/>
	</div>
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Left Margin</label><BR>
		<input type="text" name="reportRunJson.commonChartOptions.leftMargin" only-digits maxlength=3 ng-model="reportRunJson.commonChartOptions.leftMargin" style="width:210px"/>
	</div>
	<div class="fn-ebz-container">
		<label class="fn-ebz-text-label">Right Margin</label><BR>
		<input type="text" name="reportRunJson.commonChartOptions.rightMargin" only-digits maxlength=3 ng-model="reportRunJson.commonChartOptions.rightMargin" style="width:210px">
	  </div><BR>
	 </div>
	</div>
 </accordion-group>
</accordion>
	<br/><br/>
	<a href="javascript:void(0)" att-button btn-type="primary" att-accessibility-click="13,32" ng-click="saveChartData();">Save</a>
	<a href="report#/report_run/c_master={{reportRunJson.reportID}}&refresh=Y" att-button btn-type="primary" att-accessibility-click="13,32">Run</a>
	
	
	
		

</div>



