<div  bsModal [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
     [ngClass]="{'modalOutsideIframe' : !isIframe}">
  <div id="instance-popup" [ngClass]="{'modal-lg' : !isIframe}" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button"
              class="close"
              (click)="formPopupDetails?.onCancel(formPopupDetails.that,dynamicForm);clearModalIsUpdateMode()">&times;
      </button>
      <span [attr.data-tests-id]="'create-modal-title'"
            class="modal-title">{{formPopupDetails?.title}}
      </span>
    </div>
    <div class="modal-body" [ngClass]="{'popup-content' : !isIframe, 'popup-content-inside-iframe': isIframe}">
      <div class="header-left">
        <div>MODEL: <span>"{{formPopupDetails?.leftSubTitle}}"</span></div>
      </div>

      <div class="header-right">
        {{formPopupDetails?.rightSubTitle}}
      </div>


      <label class="quantity-label" *ngIf="formPopupDetails?.UUIDData['type'] == 'service'">Qty:</label>
      <div class="quantity" *ngIf="formPopupDetails?.UUIDData['type'] == 'service'">
        <select [disabled]="formPopupDetails?.UUIDData['isMacro'] !== true"
                class="quantity-select"
                [(ngModel)]="formPopupDetails.UUIDData['bulkSize']"
                name="quantity"
                id="quantity-select"
                required>
          <option *ngFor="let qty of quantityOptions" [value]="qty">{{qty}}</option>
        </select>
      </div>

      <div class="model-information">
        <model-information [modelInformationItems]="formPopupDetails?.modelInformationItems"></model-information>
      </div>

      <div class="instance-form">
        <div style="position: relative;height: 100%;overflow: auto;">
          <label id="notification-area" *ngIf="shouldShowNotification() == true"
                 style="color: #959595;font-size: 12px;left: 30px;margin-left: 30px;">Data entered will apply to all
            service instances</label>
          <generic-form [formControls]="formPopupDetails?.formControlList"
                        [dynamicInputs]="formPopupDetails?.dynamicInputsControlList"
                        (onFormChanged)="dynamicForm = $event"></generic-form>
        </div>
      </div>

    </div>
    <div class="modal-footer row" style="padding: 0">
      <div class="col-md-5">
        <div *ngIf="hasSomeError(formPopupDetails, dynamicForm) == true">
          <form-general-error [message]="errorMsg"></form-general-error>
        </div>
      </div>
      <div class="col-md-7" style="padding: 15px;padding-right: 35px;">
        <button
          *ngIf="showTemplateBtn"
          [attr.data-tests-id]="'templateButton'"
          type="button" class="btn btn-success submit"
          (click)="openTemplateModal()"
        ><span>Template</span></button>
        <button
          [attr.data-tests-id]="'cancelButton'"
          type="button" class="btn btn-default cancel"
          (click)="formPopupDetails.onCancel(formPopupDetails.that, dynamicForm); clearModalIsUpdateMode()"
        ><span>Cancel</span></button>
        <input type="submit"
               value="Set"
               data-tests-id="form-set"
               class="btn btn-success submit"
               [disabled]="!dynamicForm?.valid"
               (click)="formPopupDetails.onSubmit(formPopupDetails.that, dynamicForm, servicesQty);clearModalIsUpdateMode()">
      </div>
    </div>
  </div>
</div>
</div>
