.width-100 {
  width: 100%;
  margin-top: 126px;

}

.text-title {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: #4A4A4A;
  text-align: center;
}

.text-subtitle {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #959595;
  text-align: center;
  margin-top: 7px;
}

.no-content-icon {
  display: block;
  vertical-align: middle;
  margin: 30px auto;
}
